{% extends 'layouts/master.twig' %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <form action="{{ path_for('auth.create') }}" method="post" novalidate>
            <div class="form-group  {{ errors.email ? 'has-error' : '' }}">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                <div class="help-block"> {{ errors.email ? 'has-error' : '' }} </div>
            </div>
            <div class="form-group {{ errors.name ? 'has-error' : '' }}">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                <div class="help-block"> {{ errors.name ? 'has-error' : '' }} </div>
            </div>
            <div class="form-group {{ errors.password ? 'has-error' : '' }}">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                <div class="help-block"> {{ errors.password ? 'has-error' : '' }} </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

{% endblock %}